<!-- Start Navbar -->
<nav id="topnav" class="defaultscroll is-sticky ">
    <div class="container relative">
        <!-- Logo container-->
        <a class="logo" href="/">
            <img src="{{ 'assets/images/logo-new-175.png'|theme }}" class="inline-block dark:hidden" alt="">
            <img src="{{ 'assets/images/logo-new-175.png'|theme }}" class="hidden dark:inline-block" alt="">
        </a>

        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <!--Login button Start-->
        <ul class="buy-button list-none mb-0">
            <li class="inline mb-0">
                <a href="https://app.serverscheduler.com/login" target="_blank" class="py-2 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-white hover:bg-slate-200 border-slate-600 hover:border-slate-700 text-black rounded-md">Login </a>
            </li>
            
           
        </ul>
        <!--Login button End-->

        <div id="navigation">
            <!-- Navigation Menu-->   
            <ul class="navigation-menu">
               
        
                <li class="has-submenu parent-parent-menu-item">
                   <!--  <li><a href="/#features" class="sub-menu-item">Features</a></li>
 -->
                    <a href="#features">Features</a><span class="menu-arrow"></span>
                    <ul class="submenu megamenu" style="flex-wrap: wrap;">
                        <li style="flex-basis: 100%; text-align: center;">
                            <span class="megamenu-head" style="font-weight: bold; color: #374151;"><img src="{{ 'assets/images/aws-logo.png'|theme }}" style="display: block; margin: 0 auto;"></span>
                        </li>
                        <li>
                            <ul>
                                <li class="megamenu-head">EC2</li>
                                <li><a href="/start-stop-ec2-instance-schedule" class="sub-menu-item" style="text-decoration: underline;">Scheduled Start/Stop</a></li>
                                <li><a href="/resize-ec2-instance-schedule" class="sub-menu-item" style="text-decoration: underline;">Scheduled Resize</a></li>
                                <li><a href="/ec2-schedule-reboot" class="sub-menu-item" style="text-decoration: underline;">Scheduled Reboot</a></li>
                                
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="megamenu-head">RDS</li>
                                <li><a href="/aws-rds-schedule-start-stop" class="sub-menu-item" style="text-decoration: underline;">Scheduled Start/Stop</a></li>
                                <li><a href="/resize-rds-instance-schedule" class="sub-menu-item" style="text-decoration: underline;">Scheduled Resize</a></li>
                                <li><a href="/aws-rds-schedule-reboot" class="sub-menu-item" style="text-decoration: underline;">Scheduled Reboot</a></li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="megamenu-head">Elasticache</li>
                                <li><a href="#" class="sub-menu-item">Scheduled Resize</a></li>
                                <li><a href="/elasticache-schedule-reboot" class="sub-menu-item" style="text-decoration: underline;">Scheduled Reboot</a></li>
                            </ul>
                        </li>
                        
                        <li style="flex-basis: 100%; height: 0; margin: 20px 0;"></li>
                        
                        <li style="flex-basis: 100%; text-align: center; margin-bottom: 10px;">
                            <span class="megamenu-head" style="font-weight: bold; color: #374151;">GCP (Coming Soon)</span>
                        </li>
                        <!-- <li>
                            <ul>
                                <li class="megamenu-head">Compute Engine</li>
                                <li><a href="#" class="sub-menu-item">Scheduled Start/Stop</a></li>
                                <li><a href="#" class="sub-menu-item">Scheduled Resize</a></li>
                                <li><a href="#" class="sub-menu-item">Scheduled Reboot</a></li>
                                
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="megamenu-head">Cloud SQL</li>
                                <li><a href="#" class="sub-menu-item">Scheduled Start/Stop</a></li>
                                <li><a href="#" class="sub-menu-item">Scheduled Resize</a></li>
                                <li><a href="#" class="sub-menu-item">Scheduled Reboot</a></li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="megamenu-head">Memorystore</li>
                                <li><a href="#" class="sub-menu-item">Scheduled Reboot</a></li>
                            </ul>
                        </li> -->

                        <li style="flex-basis: 100%; text-align: center; margin-bottom: 10px;">
                            <span class="megamenu-head" style="font-weight: bold; color: #374151;">Azure (Coming Soon)</span>
                        </li>
                    </ul>
                </li>

                <li><a href="/#pricing" class="sub-menu-item">Pricing</a></li>
                <!-- <li><a href="/blog" class="sub-menu-item">Blog</a></li> -->
                
               

                <li><a href="#footer" class="sub-menu-item">Contact</a></li>
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
</nav><!--end header-->
<!-- End Navbar -->



<script>
    document.addEventListener('DOMContentLoaded', function () {

      // Navbar scroll background
  
      var nav = document.getElementById('topnav');
      if (!nav) {
        console.error('Navbar with id "topnav" not found!');
        return;
      } else {
        console.log('Navbar found:', nav);
      }
      window.addEventListener('scroll', function() {
        console.log('ScrollY:', window.scrollY);
        if (window.scrollY > 10) {
          nav.classList.add('bg-white');

        } else {
          nav.classList.remove('bg-white');
        }
      });
    });
  </script>