##
description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/head/head-meta' %}
        <title>Server Scheduler - {{ this.page.meta_title ?: placeholder('pageTitle') }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">

        <!-- Main Css -->
       
        <link rel="stylesheet" href="{{ 'assets/css/tailwind.css'|theme }}">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap" rel="stylesheet">

        <script src="https://unpkg.com/feather-icons"></script>



    </head>
    <body class="font-nunito {{ 'page-'~this.page.id }}">

        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>


        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>

        <script>
  document.addEventListener('DOMContentLoaded', function () {
    feather.replace();
    // Navbar scroll background
    var nav = document.getElementById('topnav');
    window.addEventListener('scroll', function() {
      if (window.scrollY > 10) {
        nav.classList.add('bg-white', 'shadow', 'transition-colors', 'duration-300');
      } else {
        nav.classList.remove('bg-white', 'shadow', 'transition-colors', 'duration-300');
      }
    });
  });
</script>

    </body>
</html>
